			/*黄*/
			.a1{
				color: yellow;
				
			}
			/*深蓝*/
			.a2{
				color: blue;
			}
			/*蓝*/
			.a3{
				color: cyan;
			}
			/*橙*/
			.a4{
				color: orange;
			}
			/*红*/
			.a5{
				color: red;
			}
			/*巧克力色*/
			.a6{
				color: #5c3317; 
			}
			/*绿*/
			.a7{
				color: #00FF00;
			}
			/*紫*/
			.a8{
				color: magenta;
			}
			
