			div#you_xi{
				position: absolute;
				top: 0px;
				right: 0px;
			}
			
			div#wei_bu{
				text-align: center;
				position: fixed;
				bottom: 0;
				left: 20%;
				right: 20%;
			}
			
			div#dao_hang{
				text-align: center;
				text-indent: 10px;
			
			}
			
			div#lian_xi{
				position: fixed;
				bottom: 0;
				right: 0;
				width: 200px;
				height: 100px;
				/*background: blue;*/
			}
			
			div#da_shang{
				position: fixed;
				bottom: 0;
				left: 0;
				width: 200px;
				height: 100px;
			/*	background: yellow;*/
			}
			
			div#biao_ti{
				height: 50px;
				width:200px;
				text-align: center; /*文字居中*/
				line-height: none;/*文字水平居中*/
				margin:auto;/*div水平居中*/
				
				/*background: yellow;*/
			}
			
			div#jiu{
				/*background: yellow;*/
				height: 25px;
				width: 100px;
				text-align: center;
				line-height: none;
				margin: auto;
			}









/*

div#{
	width: ;
	height: ;
	background-color: yellow;	
}

*/
