				/*	工具隐藏开始	*/
			
			#gong_ju-tan_chu {display: none;}
			#gong_ju-tan_chu:target {display: block;}
			#gong_ju-yin_cang:target {display: none;}
			/*	工具隐藏结束	*/
			/*	汉化包隐藏开始	*/
			
			#H_H_B-tan_chu {display: none;}
			#H_H_B-tan_chu:target {display: block;}
			#H_H_B-yin_cang:target {display: none;}
				/*汉化包隐藏结束*/
				/*游戏隐藏开始*/
				#you_xi-tan_chu {display: none;}
				#you_xi-tan_chu:target {display: block;}
				#you_xi-yin_cang:target {display: none;}
				/*游戏隐藏结束*/
				
				/*病毒隐藏开始*/
				#bing_du-tan_chu {display: none;}
				#bing_du-tan_chu:target {display: block;}
				#bing_du-yin_cang:target {display: none;}
				/*病毒隐藏结束*/
				
				
				
				

/*				#tan_chu {display: none;}
				#tan_chu:target {display: block;}
				#yin_cang:target {display: none;}			*/