* {
				margin: 0;
				padding: 0;
			}
			/*给父系元素添加高度用于 height: 100%  定位*/
			
			html,
			body,
			#Q_Q_Y_G {
				height: 100%;
			}
			/* 大盒子的样式设计 */
			/* 左边菜单栏的样式设计 */
			
			.bian_lan {
				height: 95%;
				width: 15%;
				margin: 15px 0px 0px 0px;
				/*background-color: yellow;*/
				float: left;
				border: 2px solid #000000;
				/*隐藏溢出*/
				overflow:hidden;
				/*添加滚动条*/
				overflow-y:scroll;
			}
			/* 右边内容的样式设计  右边内容的宽高，自行设计*/
			
			#xian_shi {
				float: right;
				width: 82%;
				height: 95%;
				margin: 15px 15px 0px 0px;
				/*background-color: red;*/
				border: 2px dashed aqua;
				border-bottom: 2px dashed yellow;
			}
			
			li{
				height: 25px;
				
			}
			
			ul,
			font {
				text-align: center;
			}
			
			h2{
				width: 100%;
				height: auto;
				/*border-top: 3px dotted orange;*/
				border-bottom: 3px dotted orange;
				margin: 15px auto;
				font-size: 22px;
			}
				/*去除页面滚动条*/				
		body::-webkit-scrollbar {
    		display: none;
			}

