			div#fan_hui{
				position: absolute;
				top: 0;
				left: 0;
				width: 200px;
				height: 100px;
			}
			
			div#shou_ji{
				position: absolute;
				top: 0;
				right: 0;
				width: 200px;
				height: 100px;
			}
			
			div#wei_bu{
				height: 50px;
				width:200px;
				text-align: center; /*文字居中*/
				line-height: none;/*文字水平居中*/
				margin:auto;/*div水平居中*/
				
				/*background: yellow;*/
			}
			