/*表格样式*/
table {
 border:0;
}
p {
 font:normal 15px/20px Arial;
}
td {
 font:normal 15px/20px Arial;
 padding:2px;
 width:100px;
}

th {
	
 text-align:left;
 /*整体大小*/
 padding:5px;
 /*下线*/
 border-bottom:2px solid #333;
 /*表格左右间距*/
 width:200px;
}
.even {
 background:#FFF38F;
}
/* 偶数行样式*/
        .odd {
 background:#FFFFEE;
}
/* 奇数行样式*/
        .selected {
 background:#FF6500;
 color:#fff;
}
/*表格文字居中*/
	th{
	text-align: center;
}