/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
}

/* 去除下划线 */
a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* 设置背景图片 */
@media screen and (min-width: 960px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/09/CXIwO.jpg);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 960px) and (min-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/11/Cm0re.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/19/0kDkT.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;

    }
    #head-right {
        width: 100%;
        border-top: 2px solid #000;
        position: absolute;
        bottom: 0;
    }
}



/* 头部 开始 */

/* 设置背景宽高并添加白色透明0.5背景 */
header {
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    border-bottom: 2px solid #000;
}

#head-center {
    text-align: center;
    line-height: 300px;
}

#head-center img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

#head-right {
    height: auto;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    padding: 1%;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}


/* 头部 结束 */


/* 导航栏 开始 */
nav {
    width: 70%;
    height: auto;
    margin: 20px auto;
    background-color: black;
    text-align: center;
    border: 3px solid rgb(236, 231, 231);
    border-radius: 15px;

}

/* 设置 nav>li  */

nav li {
    /* 横向显示 */
    display: inline-block;
    margin: 10px 10px;
    width: 150px;
    height: auto;
}

nav>ul>li>a {
    /* 字体大小 */
    font-size: 30px;
    /* 字体颜色 */
    color: gold;
    /* 字体加粗 */
    font-weight: bold;

}

/* 导航栏 结束 */


/* 内容 开始 */

/* 设置内容区域 */
.body {
    width: 70%;
    height: auto;
    /* height: 400px; */
    margin: 0 auto;
    background-color: rgba(233, 253, 255, 0.5);
    border: 3px solid rgb(20, 19, 19);
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
}

/* 设置内容标题左右 开始 */

/* 左 */
.body-text-left {
    text-align: left;
    margin-left: 10%;
    font-size: 3em;
    float: left;
}

/* 右 */
.body-text-right {
    text-align: right;
    float: right;
    margin-right: 5%;
    font-size: 2.5em;
    font-weight: bolder;
}

/* 设置内容标题左右 结束 */

/* 设置横线 */
.body hr {
    width: 95%;
    margin: 5px auto;
}

/* 语录  */
#text-1 {
    font-size: 20px;
    text-indent: 2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#text-2 {
    font-size: 20px;
    text-align: right;
    margin-right: 10%;
    font-weight: bold;
}

/* 视频设置 */
.body-video {
    text-align: center;
    margin: 10px 0;
}

.body-video video {
    width: 95%;
}

/* 内容 结束 */

/* 返回顶部 开始 */
#fan-hui {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 1%;
    bottom: 150px;
}

/* 返回顶部 结束 */
