.liu a {
    /*去掉下划线*/
    text-decoration: none;
    /* 绝对定位，东西放在那就不动了 */
    position: absolute;
    /* 下面三个实现彻底居中，left和top是以左上角为原点，所以不是中心，用translate实现自身移动50% */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 设置字体大小 */
    font-size: 24px;
    /* 实现渐变色，90deg表示一个角度开始 */
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    /* 背景色放大 */
    background-size: 400%;
    /* 图形大小 */
    width: 200px;
    height: 86px;
    /* 行高 */
    line-height: 100px;
    /* 文本居中 */
    text-align: center;
    /* 字体颜色 */
    color: #fff;
    /* 字母变大写 */
    text-transform: uppercase;
    /* 设置成胶囊状 */
    border-radius: 50px;
    /* 值为正数在上面显示，反之 */
    z-index: 1;
}

/* 设置发光 */

.liu a::before {
    /* 设置发光颜色 */
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 50px;
}

/* 鼠标经过产生的效果 */
.liu a:hover {
    /* 产生8秒的效果，sun是名称*/
    animation: sun 8s infinite;
}

/* 设置流光 */
@keyframes sun {
    100% {
        /* 以x轴为基准向左移动4个自身大小 */
        background-position: -400% 0;
    }
}