/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
}

/* 去除下划线 */
a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

/* 设置背景图片 */
@media screen and (min-width: 960px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/09/CXIwO.jpg);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 960px) and (min-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/11/Cm0re.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/19/0kDkT.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

/* 去除滑动条并且不会失去滑动功能 */
body::-webkit-scrollbar {
    display: none;
}

/* 设置头部 开始 */
header {
    width: 100%;
    height: 150px;
    background-color: rgba(120, 211, 234, 0.4);
    font-size: 3em;
    text-align: center;
    line-height: 150px;
    color: yellow;
    font-weight: bolder;
}

/* 设置头部 结束 */


/* 导航栏 开始 */

/* 主框架 */
nav {
    width: 70%;
    height: auto;
    margin: 50px auto;
    background-color: rgba(233, 253, 255, 0.5);
    border: 3px solid rgb(20, 19, 19);
    border-radius: 15px;
}

/* 标题 */
#biao-ti {
    text-align: center;
    font-size: 2em;
}

/* 分割线 */
nav hr {
    width: 95%;
    margin: 0 auto;
}

/* 内容 */
#biao-ti-body dl {
    border-bottom: 2px solid #000;
    width: 95%;
    margin: 5px auto;
}

#biao-ti-body dt,
dd {
    margin-top: 10px;
    font-size: 20px;
    display: inline-block;
}

#biao-ti-body dd,
a {
    margin: 0 5px;
    color: black;
    font-weight: bold;
}

/* 导航栏 结束 */


/* 设置内容 开始 */
.body {
    width: 70%;
    height: auto;
    margin: 50px auto;
    background-color: rgba(233, 253, 255, 0.5);
    border: 3px solid rgb(20, 19, 19);
    border-radius: 15px;
}


/* 设置内容标题左右 开始 */

/* 左 */
.body-text-left {
    text-align: left;
    margin-left: 10%;
    font-size: 3em;
    float: left;
}

/* 右 */
.body-text-right {
    text-align: right;
    float: right;
    margin-right: 5%;
    font-size: 2.5em;
    font-weight: bolder;
}

/* 设置内容标题左右 结束 */

/* 分割线 */
.body hr {
    width: 99%;
    margin: 0 auto;
}

/* 视频设置 */
.body-video {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
}

.body-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* 设置内容 结束 */

/* 返回顶部 开始 */
#fan-hui {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 3%;
    bottom: 150px;
}

/* 返回顶部 结束 */