/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* 去除下划线 */
a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

/* 设置背景图片 */
@media screen and (min-width: 960px) {
    body {
        background: url(https://s1.ax1x.com/2022/07/19/jTR2Yn.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 960px) and (min-width: 750px) {
    body {
        background: url(https://s1.ax1x.com/2022/07/19/jTRseg.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 750px) {
    body {
        background: url(https://s1.ax1x.com/2022/07/19/jTR0Qf.jpg);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

/* 去除滑动条并且不会失去滑动功能 */
body::-webkit-scrollbar {
    display: none;
}

a {
    color: blue;
}

a:hover {
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-decoration: underline;
}

.content {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: auto;
    border-radius: 15px;
    margin-bottom: 50px;
}

#javaban {
    margin-top: 150px;
}

header {
    position: relative;
    top: 100px;
}

header>p {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.copy textarea {
    width: 90%;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    resize: none;
    border-radius: 10px 10px 0 0;
}

.copy input {
    width: 90%;
    height: 30px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(255, 255, 255);
}

.copy>span {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


.mo-zu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #000;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}


.mo-zu>p {
    text-align: center;
    width: auto;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid #000;
    font-size: 20px;
}

.copy>div>p {
    width: 90%;
    margin: auto;
    font-size: 30px;
}

.copy>div>p>a {
    float: right;
}

.copy img {
    width: 90%;
}

.di-zhi {
    text-align: center;
}



#lian-xi>p {
    font-size: 2rem;
    text-align: center;
    padding-top: 15px;
}

#lian-xi>form {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#zhu-ti {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.311);
    font-size: 25px;
}

#chao-song,
#mi-song {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.311);
    font-size: 20px;
}

#nei-rong {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.311);
    border-radius: 5px;
    border: 2px solid #000;
    font-size: 27px;
}

#lian-xi>form>div {
    height: 510px;
}

#ti-jiao {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 2px solid #000;
}
