* {
    margin: 0;
    padding: 0;
}

/* 设置背景图片 */
@media screen and (min-width: 960px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/19/0k8rd.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 960px) and (min-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/11/Cm0re.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/19/0kDkT.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;

    }
}

body {
    width: 75%;
    margin: 0 auto;
}

.body {
    width: 70%;
    height: auto;
    margin: 0 auto;
    border: 3px solid rgb(129, 245, 173);
    border-radius: 15px;
    margin-bottom: 30px;
}

.shi-jian {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: aqua;
}

.nei-rong {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: aquamarine;
}

.huan-hang {
    padding-left: 50px;
    text-indent: -50px;
}