
			
			div#fan_hui {
				position: absolute;
				top: 0;
				left: 0;
				width: 200px;
				height: 100px;
			}
			
			div#zui-xin {
				position: absolute;
				top: 0;
				right: 0;
				width: 200px;
				height: 100px;
			}
			
			div#wei_bu {
				width: 100%;
				height: 90px;
				text-align: center;
				/*文字居中*/
				line-height: none;
				/*文字水平居中*/
				margin: auto;
				/*div水平居中*/
				/*background: yellow;*/
			}
			
			div#hui-dao {
				position: absolute;
				left: 0;
				right: 0;
				
			}